.vscode
.DS_Store
Thumbs.db
/TASMC/fsh-generated
/TASMC/input-cache
/TASMC/output
/TASMC/input/input
/TASMC/input/assets
/TASMC/temp
/TASMC/template
/TASMC/differentials
/TASMC/validator_cli*
/TASMC/node_modules
/TASMC/jre
/fsh-generated
/input-cache
/output
/temp
/template
/differentials
/validator_cli*
/node_modules
/jre
*.zip
*.md